[submodule "plugged/sideways.vim"]
	path = plugged/sideways.vim
	url = https://github.com/AndrewRadev/sideways.vim.git
[submodule "plugged/nerdtree"]
	path = plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git
